:root {
  --color-primary: #0076df;
  --color-secondary: #ed297a;
  --color-white: #f5f6f7;
  --color-black: #000;
  --color-green: #31d76c;
  --color-red: #fa4045;
  --color-blue: #00c1ff;
  --color-orange: #faad00;
  --border-color: #d1dce5;
  --ifm-background-surface-color: #f9fafb;
  --ifm-code-font-size: 95%;
  --ifm-code-border-color: #0000001a;
  --ifm-tabs-color: var(--color-black);
  --ifm-menu-color-background-hover: rgba(0, 193, 255, 0.15);
  --ifm-menu-color-background-active: rgba(0, 193, 255, 0.15);
  --ifm-font-color-base: var(--color-black);
  --ifm-menu-color: var(--color-black);
  --ifm-toc-link-color: var(--color-black);
  --ifm-alert-color: var(--color-black);
  --ifm-color-primary: var(--color-primary);
  --ifm-color-primary-dark: var(--color-primary);
  --ifm-color-primary-darker: var(--color-primary);
  --ifm-color-primary-darkest: var(--color-primary);
  --ifm-color-primary-light: var(--color-primary);
  --ifm-color-primary-lighter: var(--color-primary);
  --ifm-color-primary-lightest: var(--color-primary);
  --ifm-toc-border-color: var(--border-color);
  --ifm-global-shadow-lw: 0px;
  --ifm-table-head-background: var(--ifm-table-stripe-background);
  --ifm-table-row-hover-color: rgba(0, 0, 0, 0.025);
  --ifm-font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Inter, ui-sans-serif, system-ui, sans-serif;
  --ifm-font-family-monospace: Menlo, Consolas, "Roboto Mono", ui-monospace, monospace;
}

html[data-theme="dark"] {
  --color-primary: #2997ff;
  --ifm-background-color: var(--color-black);
  --border-color: #3f4554;
  --ifm-font-color-base: var(--color-white);
  --ifm-alert-color: var(--color-white);
  --ifm-menu-color: var(--color-white);
  --ifm-toc-link-color: var(--color-white);
  --ifm-tabs-color: var(--color-white);
  --ifm-background-surface-color: #161b22;
  --ifm-table-row-hover-color: rgba(255, 255, 255, 0.1);
  --ifm-toc-border-color: #1e293b;
  --ifm-code-background: #292524;
  --ifm-code-border-color: #3f3f46;
  --ifm-breadcrumb-item-background-active: rgba(255, 255, 255, 0.1);
}

/* font-face */

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter Regular'), local(Inter-Regular),
    url('https://pranab.pages.dev/assets/fonts/inter/inter-4.1b-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: local('Inter Italic'), local('Inter-Italic'),
    url('https://pranab.pages.dev/assets/fonts/inter/inter-4.1b-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local('Inter Bold'), local('Inter-Bold'),
    url('https://pranab.pages.dev/assets/fonts/inter/inter-4.1b-bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Mono Regular"), local("RobotoMono-Regular"),
    url("https://pranab.pages.dev/assets/fonts/roboto-mono/roboto-mono-v30-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Mono Bold"), local("RobotoMono-Bold"),
    url("https://pranab.pages.dev/assets/fonts/roboto-mono/roboto-mono-v30-bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Mono Italic"), local("RobotoMono-Italic"),
    url("https://pranab.pages.dev/assets/fonts/roboto-mono/roboto-mono-v30-italic.woff2") format("woff2");
}

/* general */

body {
  tab-size: 4;
}

.markdown h1:first-child {
  font-size: 2em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

@media screen and (min-width: 600px) {
  .container {
    --ifm-spacing-horizontal: 1.5rem;
  }
}

.markdown img {
  border-radius: var(--ifm-global-radius);
}

.fig-caption {
  padding: 0.5em;
  font-size: 0.95em;
  line-height: 1.5em;
  font-style: italic;
  color: #666;
}

/* links */

a {
  transition: color 0.2s;
}

a:hover {
  color: var(--color-secondary);
}

.pagination-nav__link {
  border-color: var(--border-color);
}

.pagination-nav__link {
  transition: color 0.2s, border-color 0.2s;
}

.pagination-nav__link:hover {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.dropdown__link:hover,
.dropdown__link--active {
  background-color: var(--ifm-menu-color-background-hover);
}

.navbar__link {
  padding: 0.6em 0.75em;
}

.hash-link:hover {
  text-decoration: none;
}

.table-of-contents__link:hover,
.table-of-contents__link:hover code,
.table-of-contents__link--active,
.table-of-contents__link--active code,
.menu__link--active {
  transition: 0.2s color;
}

/* nav bar */

.header-github-link:hover,
.header-homepage-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

.header-homepage-link:before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath d='M415.9 344H225c2.9 64.5 17.2 123.9 37.5 167.4 11.4 24.5 23.7 41.8 35.1 52.4 11.2 10.5 18.9 12.2 22.9 12.2s11.7-1.7 22.9-12.2c11.4-10.6 23.7-28 35.1-52.4 20.3-43.5 34.6-102.9 37.5-167.4zm-191-48h190.9c-2.8-64.5-17.1-123.9-37.4-167.4-11.4-24.4-23.7-41.8-35.1-52.4C332.1 65.7 324.4 64 320.4 64s-11.7 1.7-22.9 12.2c-11.4 10.6-23.7 28-35.1 52.4-20.3 43.5-34.6 102.9-37.5 167.4m-48 0c3.5-85.6 25.6-165.1 57.9-217.3C142.7 111.3 74.9 195.2 65.5 296zM65.5 344c9.4 100.8 77.2 184.7 169.3 217.3-32.3-52.2-54.4-131.7-57.9-217.3zm398.4 0c-3.5 85.6-25.6 165.1-57.9 217.3 92.1-32.7 159.9-116.5 169.3-217.3zm111.4-48C565.9 195.2 498.1 111.3 406 78.7c32.3 52.2 54.4 131.7 57.9 217.3z'/%3E%3C/svg%3E") no-repeat;
}

.navbar {
  border-bottom: 1px solid var(--ifm-toc-border-color);
  box-shadow: none;
}

.navbar__title {
  color: var(--color-primary);
  background: linear-gradient(to right,
      #0894ff,
      #c959dd 33%,
      #ff2e54 67%,
      #ff9004);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar__title:hover {
  color: var(--color-secondary);
  background: linear-gradient(to left,
      #0894ff,
      #c959dd 33%,
      #ff2e54 67%,
      #ff9004);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar__search-input {
  font-size: 1rem;
}

/* codeblock */

code {
  border: 0.1rem solid var(--ifm-code-border-color);
}

.docusaurus-highlight-code-line {
  background-color: #ffff99;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* admonitions */

.alert {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.alert a {
  color: var(--color-primary);
  text-decoration-color: var(--color-primary);
}

.alert a:hover,
.alert a:focus {
  color: var(--color-secondary);
  text-decoration-color: var(--color-secondary);
  text-decoration-thickness: 1px;
}

.alert--danger {
  background-color: rgba(250, 64, 69, 0.2);
}

.alert--info {
  background-color: rgba(0, 193, 255, 0.2);
}

.alert--secondary {
  border-color: rgb(179, 0, 179);
  background-color: rgba(179, 0, 179, 0.2);
}

a.card:hover {
  border-color: var(--color-secondary);
}

.theme-admonition a {
  text-decoration: none;
}

.theme-admonition a:hover {
  text-decoration: underline;
}

tr:hover td {
  background: var(--ifm-table-row-hover-color);
}

table td,
table th {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer {
  padding: 0.5rem 0.05rem;
  color: #ccc;
  font-size: 0.75rem;
}

html[data-theme="dark"] {

  .header-homepage-link:before,
  .header-github-link:before {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  }

  .docusaurus-highlight-code-line {
    background-color: rgba(66, 80, 80, 0.6);
  }

  .footer {
    background-color: var(--ifm-background-surface-color);
  }

  .inv-hue-rot-180 {
    filter: invert(1) hue-rotate(180deg);
  }

  .fig-caption {
    color: #ccc;
  }
}

sup a {
  padding: 2px 5px;
  border-radius: var(--ifm-global-radius);
  background-color: var(--ifm-background-surface-color);
}
