:root {
  --color-primary: #0076df;
  --color-secondary: #ed297a;
  --color-white: #f5f6f7;
  --color-black: #000;
  --color-green: #31d76c;
  --color-red: #fa4045;
  --color-blue: #00c1ff;
  --color-orange: #faad00;
  --border-color: #d1dce5;
  --ifm-code-font-size: 95%;
  --ifm-code-border-color: #0000001a;
  --ifm-tabs-color: var(--color-black);
  --ifm-menu-color-background-hover: rgba(0, 193, 255, 0.15);
  --ifm-menu-color-background-active: rgba(0, 193, 255, 0.15);
  --ifm-font-color-base: var(--color-black);
  --ifm-menu-color: var(--color-black);
  --ifm-toc-link-color: var(--color-black);
  --ifm-alert-color: var(--color-black);
  --ifm-color-primary: var(--color-primary);
  --ifm-color-primary-dark: var(--color-primary);
  --ifm-color-primary-darker: var(--color-primary);
  --ifm-color-primary-darkest: var(--color-primary);
  --ifm-color-primary-light: var(--color-primary);
  --ifm-color-primary-lighter: var(--color-primary);
  --ifm-color-primary-lightest: var(--color-primary);
  --ifm-toc-border-color: var(--border-color);
  --ifm-global-shadow-lw: 0px;
  --ifm-table-head-background: var(--ifm-table-stripe-background);
  --ifm-table-row-hover-color: rgba(0, 0, 0, 0.01);
}

html[data-theme="dark"] {
  --ifm-background-color: var(--color-black);
  --border-color: #3f4554;
  --ifm-font-color-base: var(--color-white);
  --ifm-alert-color: var(--color-white);
  --ifm-menu-color: var(--color-white);
  --ifm-toc-link-color: var(--color-white);
  --ifm-tabs-color: var(--color-white);
  --ifm-background-surface-color: #161b22;
  --ifm-table-row-hover-color: rgba(255, 255, 255, 0.05);
  --ifm-toc-border-color: #1e293b;
  --ifm-code-background: #292524;
  --ifm-code-border-color: #3f3f46;
  --ifm-breadcrumb-item-background-active: rgba(255, 255, 255, 0.1);
}

/* general */

body {
  tab-size: 4;
}

.markdown h1:first-child {
  font-size: 2em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

@media screen and (min-width: 600px) {
  .container {
    --ifm-spacing-horizontal: 1.5rem;
  }
}

.markdown img {
  border-radius: var(--ifm-global-radius);
}

.fig-caption {
  padding: 0.5em;
  font-size: 0.95em;
  line-height: 1.5em;
  font-style: italic;
  color: #666;
}

/* links */

a {
  transition: color 0.2s;
}

a:hover {
  color: var(--color-secondary);
}

.pagination-nav__link {
  border-color: var(--border-color);
}

.pagination-nav__link {
  transition: color 0.2s, border-color 0.2s;
}

.pagination-nav__link:hover {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.dropdown__link:hover,
.dropdown__link--active {
  background-color: var(--ifm-menu-color-background-hover);
}

.navbar__link {
  padding: 0.6em 0.75em;
}

.hash-link:hover {
  text-decoration: none;
}

.table-of-contents__link:hover,
.table-of-contents__link:hover code,
.table-of-contents__link--active,
.table-of-contents__link--active code,
.menu__link--active {
  transition: 0.2s color;
}

/* nav bar */

.header-github-link:hover,
.header-homepage-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme="dark"] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.header-homepage-link:before {
  content: "";
  width: 22px;
  height: 22px;
  display: flex;
  transform: translate(-2px, 1px);
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M352 256C352 278.2 350.8 299.6 348.7 320H163.3C161.2 299.6 159.1 278.2 159.1 256C159.1 233.8 161.2 212.4 163.3 192H348.7C350.8 212.4 352 233.8 352 256zM503.9 192C509.2 212.5 512 233.9 512 256C512 278.1 509.2 299.5 503.9 320H380.8C382.9 299.4 384 277.1 384 256C384 234 382.9 212.6 380.8 192H503.9zM493.4 160H376.7C366.7 96.14 346.9 42.62 321.4 8.442C399.8 29.09 463.4 85.94 493.4 160zM344.3 160H167.7C173.8 123.6 183.2 91.38 194.7 65.35C205.2 41.74 216.9 24.61 228.2 13.81C239.4 3.178 248.7 0 256 0C263.3 0 272.6 3.178 283.8 13.81C295.1 24.61 306.8 41.74 317.3 65.35C328.8 91.38 338.2 123.6 344.3 160H344.3zM18.61 160C48.59 85.94 112.2 29.09 190.6 8.442C165.1 42.62 145.3 96.14 135.3 160H18.61zM131.2 192C129.1 212.6 127.1 234 127.1 256C127.1 277.1 129.1 299.4 131.2 320H8.065C2.8 299.5 0 278.1 0 256C0 233.9 2.8 212.5 8.065 192H131.2zM194.7 446.6C183.2 420.6 173.8 388.4 167.7 352H344.3C338.2 388.4 328.8 420.6 317.3 446.6C306.8 470.3 295.1 487.4 283.8 498.2C272.6 508.8 263.3 512 255.1 512C248.7 512 239.4 508.8 228.2 498.2C216.9 487.4 205.2 470.3 194.7 446.6H194.7zM190.6 503.6C112.2 482.9 48.59 426.1 18.61 352H135.3C145.3 415.9 165.1 469.4 190.6 503.6V503.6zM321.4 503.6C346.9 469.4 366.7 415.9 376.7 352H493.4C463.4 426.1 399.8 482.9 321.4 503.6V503.6z'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme="dark"] .header-homepage-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M352 256C352 278.2 350.8 299.6 348.7 320H163.3C161.2 299.6 159.1 278.2 159.1 256C159.1 233.8 161.2 212.4 163.3 192H348.7C350.8 212.4 352 233.8 352 256zM503.9 192C509.2 212.5 512 233.9 512 256C512 278.1 509.2 299.5 503.9 320H380.8C382.9 299.4 384 277.1 384 256C384 234 382.9 212.6 380.8 192H503.9zM493.4 160H376.7C366.7 96.14 346.9 42.62 321.4 8.442C399.8 29.09 463.4 85.94 493.4 160zM344.3 160H167.7C173.8 123.6 183.2 91.38 194.7 65.35C205.2 41.74 216.9 24.61 228.2 13.81C239.4 3.178 248.7 0 256 0C263.3 0 272.6 3.178 283.8 13.81C295.1 24.61 306.8 41.74 317.3 65.35C328.8 91.38 338.2 123.6 344.3 160H344.3zM18.61 160C48.59 85.94 112.2 29.09 190.6 8.442C165.1 42.62 145.3 96.14 135.3 160H18.61zM131.2 192C129.1 212.6 127.1 234 127.1 256C127.1 277.1 129.1 299.4 131.2 320H8.065C2.8 299.5 0 278.1 0 256C0 233.9 2.8 212.5 8.065 192H131.2zM194.7 446.6C183.2 420.6 173.8 388.4 167.7 352H344.3C338.2 388.4 328.8 420.6 317.3 446.6C306.8 470.3 295.1 487.4 283.8 498.2C272.6 508.8 263.3 512 255.1 512C248.7 512 239.4 508.8 228.2 498.2C216.9 487.4 205.2 470.3 194.7 446.6H194.7zM190.6 503.6C112.2 482.9 48.59 426.1 18.61 352H135.3C145.3 415.9 165.1 469.4 190.6 503.6V503.6zM321.4 503.6C346.9 469.4 366.7 415.9 376.7 352H493.4C463.4 426.1 399.8 482.9 321.4 503.6V503.6z'/%3E%3C/svg%3E")
    no-repeat;
}

.navbar {
  border-bottom: 1px solid var(--ifm-toc-border-color);
  box-shadow: none;
}

.navbar__title {
  background: linear-gradient(
    to right,
    #0894ff,
    #c959dd 33%,
    #ff2e54 67%,
    #ff9004
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar__title:hover {
  background: linear-gradient(
    to left,
    #0894ff,
    #c959dd 33%,
    #ff2e54 67%,
    #ff9004
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar__search-input {
  font-size: 1rem;
}

/* codeblock */

code {
  border: 0.1rem solid var(--ifm-code-border-color);
}

.docusaurus-highlight-code-line {
  background-color: #ffff99;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(66, 80, 80, 0.6);
}

/* admonitions */

.alert {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.alert a {
  color: var(--color-primary);
  text-decoration-color: var(--color-primary);
}

.alert a:hover,
.alert a:focus {
  color: var(--color-secondary);
  text-decoration-color: var(--color-secondary);
  text-decoration-thickness: 1px;
}

.alert--danger {
  background-color: rgba(250, 64, 69, 0.2);
}

.alert--info {
  background-color: rgba(0, 193, 255, 0.2);
}

.alert--secondary {
  border-color: rgb(179, 0, 179);
  background-color: rgba(179, 0, 179, 0.2);
}

a.card:hover {
  border-color: var(--color-secondary);
}

.theme-admonition a {
  text-decoration: none;
}

.theme-admonition a:hover {
  text-decoration: underline;
}

tr:hover td {
  background: var(--ifm-table-row-hover-color);
}

table td,
table th {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer {
  padding: 0.5rem 0.05rem;
  color: #ccc;
  font-size: 0.75rem;
}

html[data-theme="dark"] .footer {
  background-color: var(--ifm-background-surface-color);
}
