@import "common.css";

.appInput {
  color: var(--ifm-font-color-base);
  background: rgba(0, 0, 0, 0.05);
  border-color: lightgray;
  border-radius: 5px;
  padding: 0.25rem 0.25rem;
  font-size: medium;
  width: 150px;
  border-width: 2px;
  border-style: solid;
  font-family: var(--ifm-font-family-monospace);
}

.appOutput {
  font-family: var(--ifm-font-family-monospace);
}

.appBtn {
  font-size: 0.9em;
  color: var(--ifm-font-color-base);
  background-color: rgba(150, 150, 150, 0.2);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightgrey;
  padding: 0.25rem 0.5rem;
}

.appBtn:hover {
  cursor: pointer;
  border-color: grey;
}
